<header class="header">
    <h1>Game Image Gallery</h1>
    <label id="hamburger-icon" for="hamburger-btn">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <input id="hamburger-btn" type="checkbox" />
    <nav>
        <!--This will be the navigation that the user can select to navigate to new pages-->
        <!--Make this into a hamburger at top left of page and expand from the left edge of screen into view when clicked-->
        <ul class="main-nav">
            <li id="nav"><a href="/">Main</a></li>
            <li id="nav"><a href="/">About</a></li>
            <li id="nav"><a href="/">News</a></li>
            <li id="nav"><a href="/">Gallery</a></li>
        </ul>
    </nav>
</header>