<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/gallery.css"/>
    <%- include('./partials/gallery-open.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        
        <button class="accordion">Locations</button> <!--Navigation button objects that when selected based on the event listener will make the panel under it activate to scroll-->
        <div class="panel">
            <img class="gallery-img" src="https://i.pinimg.com/originals/43/e9/7e/43e97ea8100bd47c7a2fec610f8e8ca9.jpg">
            <img class="gallery-img" src="https://static.wikia.nocookie.net/wccs-dungeons-and-dragons/images/4/49/Fantasy_mountain_rendering_by_jbconcept-d3g85g7.jpg/revision/latest?cb=20180705232426">
            <img class="gallery-img" src="https://steemitimages.com/p/FxX5cZUEw6DD9wPwwS81Yuu3gYs9aR1WA63xektpKcLu9tYSqUaNBcQ29qbpiouwiYbckbDyX1eTZYqzbUk5qnNvLN12UTwZ1nQC87kt2Kjc?format=match&mode=fit&width=640">
            <p class="gallery-text">Plains</p>
            <p class="gallery-text">Mountains</p>
            <p class="gallery-text">Desert</p>
        </div>
        <button class="accordion">Heroes</button>
        <div class="panel">
            <img class="gallery-img" src="./images/warrior.jpg">
            <img class="gallery-img" src="./images/rogue.jpg">
            <img class="gallery-img" src="./images/mage.jpg">
            <p class="gallery-text">Warrior</p>
            <p class="gallery-text">Ranger</p>
            <p class="gallery-text">Mage</p>
        </div>
        <button class="accordion">Enemies</button>
        <div class="panel">
            <img class="gallery-img" src="./images/NOT_MATT.png">
            <img class="gallery-img" src="./images/Slime Enemy.jpg">
            <img class="gallery-img" src="./images/Bat Enemy.jpg">
            <p class="gallery-text">Demon Lord (DEFINITELY NOT MATT)</p>
            <p class="gallery-text">Slime</p>
            <p class="gallery-text">Bat</p>
        </div>
        <button class="accordion">Items</button>
        <div class="panel">
            <p class="gallery-text">Potion</p>
            <p class="gallery-text">Wooden Sword</p>
            <p class="gallery-text">Cloth Armor</p>
        </div>
        <button class="accordion">Spells</button>
        <div class="panel">
            <p class="gallery-text">Fire Bolt</p>
            <p class="gallery-text">Ice Shard</p>
            <p class="gallery-text">Lightning Shock</p>
            <p class="gallery-text">Heal</p>
            <p class="gallery-text">Cure</p>
        </div>
    </main>
</body>
</html>