<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JN Project One</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/game-display.css"/>
    <script defer src="/js/main.js"></script>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <div class="modal-box" id="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="gamestart">Welcome to SLAY THE DEMON LORD</h2>
                <h3 id="gamestart">Please input character name:</h3>
                <input class="character-name" id="gamestart" placeholder="Character Name..."></input>
                <h3 id="gamestart">Please Select Your Class:</h3>
                <div class="character-class" id="gamestart">
                    <button class="interact warrior" id="class-select">Warrior</button>
                    <button class="interact rogue" id="class-select">Rogue</button>
                    <button class="interact mage" id="class-select">Mage</button>
                </div>
                <button class="interact start-btn" id="gamestart">START NOW</button>
            </div>
        </div>
        <div class="game-over">You have been killed and the Demon Lord reigns forever.  Game Over.</div>
        <div class="game"> <!--This will be the main gamplay area of the page-->      
            <div class="game-display">
                <button class="interact start-game">Start Game</button>
                <div class="town">
                    <img id="main-town" src="./images/Fantasy Town.jpg">
                </div>
                <div class="merchShop">
                    <img id="merch-shop" src="./images/Market Square.jpg">
                </div>
                <div class="battle"> <!--Battle Screen display-->
                    <img id="battle-zone" src="https://i.pinimg.com/originals/43/e9/7e/43e97ea8100bd47c7a2fec610f8e8ca9.jpg"> </img>
                    <img id="slime" src="./images/Slime Enemy.jpg"/>
                        <!-- <img id="bat" src="./images/Bat Enemy.jpg"/> -->
                </div>
            </div>
            <div class="game-text">
                <ul class="dialog">
                </ul>
            </div>
            <div class="game-menu">
                <div class="basic-menu">
                    <button class="interact main-menu" id="encounter">Encounter</button>
                    <button class="interact main-menu" id="shop">Shop</button>
                    <button class="interact main-menu" id="rest">Rest</button>
                    <!-- <button class="interact main-menu" id="magicshop">Magic Shop</button> -->
                </div>
                <div class="merchant">
                    <button class="interact merchant-menu" id="buy">Buy</button>
                    <!-- <button class="interact merchant-menu" id="return">Leave</button> -->
                    <button class="interact merchant-menu return">Leave</button>
                </div>
                <div id="stock">
                    <button class="interact merchant-menu zone-one purchase" id="wood-sword">Wooden Sword 40gp</button>
                    <button class="interact merchant-menu zone-one purchase" id="cloth-armor">Cloth Armor 30gp</button>
                    <button class="interact merchant-menu zone-one purchase" id="potion">Potion 10gp</button>
                    <button class="interact merchant-menu zone-one" id="return-merch-menu">Back</button>
                </div>
                <div class="encounter">
                    <button class="interact encounter-menu zone-one random">Random Encounter</button>
                    <button class="interact encounter-menu return">Leave</button>
                </div>
                <div class="battle-menu">
                    <button class="interact fight" id="attack">Attack</button>
                    <button class="interact fight use-item">Potion</button>
                    <button class="interact fight return">Flee</button>
                </div>
            </div>
            <div class="character">
                <div class="characterTitle">
                    <p id="playerName"></p>
                    <p id="playerClass"></p>
                    <p id="characterHP"></p>
                    <p id="characterMP"></p>
                </div>
                <div class="base-info">
                    <p id="characterLevel"></p>
                    <p id="characterXP"></p>
                    <p id="characterGold"></p>
                </div>
                <div class="characterstats"> STATS
                    <div class="statswindow">
                        <p id="characterStr"></p>
                        <p id="characterMag"></p>
                        <p id="characterArmor"></p>
                    </div>
                </div>
                <div class="inventory">
                    <div class="equipment">EQUIPMENT
                        <p id="equipWeapon">
                        <p id="equipArmor">
                    </div>
                    <div class="itemBag">ITEMS
                        <p id="items"></p>
                    </div>
                </div>
                <div class="spellbook">
                    <p class="spell-header"></p>
                    <div class="spells">
                        <p id="firebolt"></p>
                        <p id="icesh"></p>
                        <p id="lightnshk"></p>
                        <p id="heal"></p>
                        <p id="cure"></p>
                    </div>
                </div>
                <div class="character-img">
                    <img id="warrior-img" src="./images/warrior.jpg">
                    <img id="rogue-img" src="./images/rogue.jpg">
                    <img id="mage-img" src="./images/mage.jpg">
                </div>
            </div>
        </div>
    </main>
</body>
</html>