/* Whole Game Menu */
.game {
    display: grid;
    grid-template-columns: 800px 300px;
    grid-template-rows: 600px 200px 150px;
    grid-template-areas: 
    "gamedis chara"
    "gametxt chara"
    "menu menu";
    justify-self: center;
    padding-top: 50px;
}

p {
    padding: 5px;
    font-size: 18px;
    }

/* Game Display */
.game-display {
    grid-area: gamedis;
}

.town {
    display: none;
    align-content: stretch;
    justify-content: stretch;
}

#main-town {
    height: 100%;
    width: 100%;
    align-self: center;
}

.merchShop {
    display: none;
    align-content: stretch;
    justify-content: stretch;
}

#merch-shop {
    height: 100%;
    width: 100%;
    align-self: center;
}

.battle {
    display: none;
    align-content: center;
    justify-content: center;
}

#battle-zone {
    width: 100%;
    height: 100%;
    align-self: center;
}

#slime {
    display: none;
    position: fixed;
    z-index: 1;
    height: 25%;
    align-self: center;
}

/* #bat {
    align-self: center;
    justify-self: center;
    width: 25%;
} */
/* Character Window */
.character {
    grid-area: chara;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "chaImg chaImg"
    "title level"
    "stats inventory"
    "stats inventory"
    "spell spell";
}
.character-img {
    grid-area: chaImg;
    display: flex;
    justify-content: center;
}
#warrior-img {
    display: none;
    width: 75%;
}
#rogue-img {
    display: none;
    width: 75%;
}
#mage-img {
    display: none;
    width: 75%;
}

.characterTitle {
    grid-area: title;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 5px;
}
.base-info {
    grid-area: level;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 5px;
}

.characterstats {
    grid-area: stats;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px
}
.characterstats:hover {
    cursor: pointer;
}

.statswindow {
    display: none;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    background-color: grey;
    align-self: center;
    /* border: 2px black solid; */
}

.inventory {
    grid-area: inventory;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 0px 5px
}

.spellbook {
    grid-area: spell;
    display: grid;
    grid-template-areas: 
    "spellheader spellheader"
    "spells spells";
    width: 100%;
}

.spell-header {
    grid-area: spellheader;
    align-content: center;
    text-align: center;
}
.spells {
    grid-area: spells;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

/* Game Action Menu */

.game-menu {
    grid-area: menu;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basic-menu {
    display: none;
    width: 100%;
    justify-content: space-evenly;
}

.main-menu {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: gold;
    /* justify-content: space-evenly; */
    font-size: 2em;
}

.merchant {
    display: none;
    width: 100%;
    justify-content: space-evenly;
}

.merchant-menu {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: gold;
    font-size: 2em;
}

.encounter {
    display: none;
    width: 100%;
    justify-content: space-evenly;
}

.encounter-menu {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: gold;
    justify-content: space-evenly;
    font-size: 2em;
}

#stock {
    display: none;
    justify-self: space-between;
}

.battle-menu {
    display: none;
    width: 100%;
    justify-content: space-evenly;
}

.fight {
    padding: 10px 40px;
    border-radius: 5px;
    background-color: gold;
    justify-content: space-evenly;
    font-size: 2em;
}
/* Game Text Box */
.game-text {
    grid-area: gametxt;
    border: 2px black solid;
    width: 100%;
    text-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    /* white-space: nowrap; */
    font-size: 1.5rem;
    background-color: lightgrey;
}


