* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.main-nav {
    list-style: none;
}

#nav {
    padding: 10px 0;
}

.header {
    top: 0;
    width: 100%;
    height: 64px;
    position: sticky;
    background-color: lightseagreen;
    z-index: 1;
}

nav {
    top: 0;
    position: fixed;
    
    left: -100%;
    width: 300px;
    height: 100%;

    overflow: hidden;
    padding-top: 64px;
    padding-left: 30px;
    transition: left .5s;
    background-color: lightseagreen;
    z-index: 3;
}

nav a {
    display: block;
    padding: 24px 8px;
    font-size: 2rem;
    color: black;
    font-weight: 400;
    z-index: 3;
}

#hamburger-icon {
    z-index: 1;
    top: 10px;
    left: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 5
}

.line {
    width: 36px;
    height: 6px;
    margin: 6px;
    background-color: grey;
    border-radius: 25%;
}

#hamburger-btn {
    display: none;
}

#hamburger-btn:checked + nav {
    left: 0;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-wrap: nowrap;
    font-size: 2.5em;
    align-content: center;
}

/* Main Windows Design */
.game-display {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

.start-game {
    height: auto;
    width: 100%;
    background-image: url(https://ik.imagekit.io/storybird/images/210a5d6a-e579-4079-ae00-9e598b245994/0_283635969.webp?tr=q-80);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    font-size: 4rem;
    font-weight: bold;
    color: lightblue;
}

.start-game:hover {
    cursor: pointer;
}


/* Modal design */
.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    justify-items: center;
    align-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: center;
    justify-items: center;
    padding: 25px;
    border-radius: 15%;
}

.close {
    color: grey;
    align-self: flex-end;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#gamestart {
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.character-name {
    padding: 10px;
    font-size: .9em;
}

.character-class{
    display: flex;
    justify-content: space-evenly;
}

#class-select {
    padding: 10px;
    font-size: 1em;
    border: black 4px solid;
    border-radius: 10px;
    font-weight: 600;
}

.warrior:hover, .warrior-active {
    background-color: red;
}

.rogue:hover, .rogue-active {
    background-color: green;    
}

.mage:hover, .mage-active  {
    background-color: blue;
    color: silver;
}

.start-btn {
    padding: 10px;
    font-size: 3rem;
    border: 5px black dotted;
    border-radius: 50px;
}

.start-btn:hover {
    background-color: #ffff00;
}
.start-btn:active {
    background-color: #dddd00;
}

.game-over {
    display: none;
    position: fixed; 
    width: 100%;
    height: 100%;
    background-color: black;
    color: red;
    font-family:'Franklin Gothic Medium', Arial, sans-serif ;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.about {
    display: flex;
    height: 100%;
    width: 100%;
}

#about-text {
    display: flex;
    text-align: center;
    font-size: 3em;
    align-self: center;
    justify-self: center;
    padding: 20px;
}

